<div class="sam-layout">
  <app-sam link="/home" title="Einstellungen"></app-sam>
  <div class="sam-content">
    <app-tile routerLinkActive="colors" routerLink="/colors" style="grid-area: 1 / 1 / 2 / 3" title="Alle Farben">
      Stellen Sie hier die Farben ein! Es wird wie in Wunder sein!
    </app-tile>

    <app-tile routerLinkActive="assigns" routerLink="/colors" style="grid-area: 1 / 3 / 2 / 5" title="Wer leuchtet da?">
      Zeige der Lampe, wie sie zu leuchten hat!
    </app-tile>

    <app-tile routerLinkActive="calibrate" routerLink="/colors" style="grid-area: 2 / 1 / 3 / 3" title="Grenzen ziehen">
      Zeige der Lampe, wie sie zu leuchten hat!
    </app-tile>
  </div>
</div>
