app-weather:host {
  display: block;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  p {
    font-size: 24px;
    margin:0 0 5px 0;
    height: 70px;
    span {
      font-size: 3rem;
      font-weight: bold;
      float: right;
    }
  }


}
